* {
  box-sizing: border-box;
}

.gallery {
  margin: 0;
  padding: 0;
}

/*
  .column {
     width: 150%;
    flex: 25%; 
  }
  */

.column img {
  margin-top: 5px;
  max-width: 100%;
}

.row {
  /* display: flex;
    padding: 5px;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* @media (max-width: 600px) {
      .column 
      flex: 100%;
       */
